style
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}
header {
    background: #C75D75;
    color: #fff;
    padding: 2rem;
    text-align: center ;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #f9f9f9;
    padding: 1rem 2rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
}
.nav-links a:hover {
    color: #5D94C7;
}
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    margin-top: 1rem;
    border-radius: 5px;
}
h2 {
    border-bottom: 2px solid #5D94C7;
    padding-bottom: 0.5rem;
}
.project {
    background: #f9f9f9;
    padding: 1rem;
    margin-top: 1rem;
    border-left: 4px solid #C7AE5D;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #C75D75;
    color: #fff;
    margin-top: 2rem;
}